
html, body {
    height: 100%;
    margin: 0;
    padding: 0;   
}

.frame-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.frame {
    width: 400px;
    height: 400px;
    border: 16px solid gold;
    border-radius: 16px;
    overflow: hidden;
}
.images {
    display: flex;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.image2 {
    transform: translate(-400px);
}
.image3 {
    transform: translate(-800px);
}

.button {
    all: unset;
}
.right-arrow {
margin-left: 8px
    
   
}
.left-arrow{
    margin-right: 8px
}

.circle-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,175px);
    
}
.circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    margin: 4px;
}

.active {
    background-color: rgb(147, 210, 210);
}

.right-arrow:hover,
.left-arrow:hover,
.circle:hover {
    pointer-events: auto;
    cursor: pointer;
} 